.privacy {
  h2 {
    font-size: 40px;
    color: #464545;
    font-weight: 600;
    margin-bottom: 20px;
  }
  .single-content {
    text-rendering: optimizeLegibility;
    color: #4a4949;
    h4 {
      font-size: 24px;
      line-height: 32px;
      margin-bottom: 26px;
      font-weight: 600;
    }
  }
}
