.dealsDay {
  margin-top: 50px;
  margin-bottom: 50px;
  color: #212529;
  .day {
    h5 {
      display: flex;
      align-items: center;
      gap: 6px;
      margin-bottom: 20px;
      span {
        flex: 1;
        height: 1px;
        background-color: #ddd;
      }
    }
    .day1 {
      display: flex;
      align-items: center;
      color: rgb(33, 37, 41);
      margin-bottom: 16px;
      gap: 10px;
      transition: all 0.5s;
      .image {
        img {
          max-width: 100%;
          width: 90px;
          background-color: #f4f4f4;
          border-radius: 4px;
        }
      }
      .text {
        display: flex;
        flex-direction: column;
        gap: 8px;
        p {
          margin-bottom: 0;
        }
        .rate {
          display: flex;
          img {
            width: 12px;
            max-width: 100%;
          }
        }
        .price {
          display: flex;
          gap: 10px;

          .oldPrice {
            color: rgb(108, 117, 125);
            text-decoration: line-through;
          }
          .salePrice {
            color: rgb(13, 110, 253);
            font-size: 18px;
            font-weight: 600;
          }
        }
      }
      &:hover {
        transform: translateY(-5px);
      }
      &:hover p {
        color: rgb(13, 110, 253);
      }
    }
  }
}
